%contayner-syze {
  max-width: 1150px;
  width: 100%;
}

%text-style {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  @extend %contayner-syze;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: 2px solid rgb(228, 228, 228);
}

.header-container {
  @extend %contayner-syze;
}
