html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.input {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: white; }

.link {
  text-decoration: none;
  color: white; }

.link:hover {
  text-decoration: underline; }

.wrapper {
  margin: 0 auto; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: 2px solid #e4e4e4; }
  .header .container {
    margin: 0 auto;
    height: 80px;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    width: 100%; }

.header__logo {
  zoom: 0.8; }

.navigation {
  display: flex;
  height: 80%; }
  .navigation__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 40px; }
    .navigation__link:hover {
      border-bottom: 2px solid blue; }
  .navigation__text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blueviolet;
    font-weight: 550; }

.main-section {
  margin: 0 auto;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f4f9; }
  .main-section__heading {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 50px 0; }
  .main-section__heading2 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 27px;
    margin: 70px 0 20px 0; }
  .main-section__block {
    max-width: 1150px;
    width: 100%; }

.choice {
  max-width: 1150px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0 20px;
  justify-content: space-between; }
  .choice__input-container {
    max-width: 200px;
    width: 100%;
    height: 30px; }

.podcast-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .podcast-list__container {
    box-sizing: border-box;
    max-width: 220px;
    max-height: 280px;
    width: 100%;
    height: 100%;
    padding: 8px; }
  .podcast-list__images {
    width: 100%;
    height: 205px;
    background-image: url(https://messybun.s3-accelerate.amazonaws.com/5438-54381540894021359.jpeg);
    background-position: center center;
    background-size: cover; }
  .podcast-list__hover-background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; }
  .podcast-list__buttom {
    position: relative;
    top: 50%;
    right: -50%;
    transform: translate(-50%, -50%); }
  .podcast-list__hover-background:hover {
    opacity: 1;
    transition: opacity 0.5s ease 0s; }
  .podcast-list__links {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    line-height: 20px; }
  .podcast-list__name {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    margin: 10px 0; }
  .podcast-list__name:hover {
    color: blue; }

.footer {
  margin-top: 100px;
  background-color: #231e29; }
  .footer__block {
    padding: 50px 20px 20px 20px;
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; }
  .footer__logo {
    max-width: 140px;
    width: 100%; }

.footer-navigation {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%; }
  .footer-navigation__question {
    display: flex;
    flex-direction: column; }
  .footer-navigation__link {
    margin-bottom: 20px; }
  .footer-navigation__commication {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer-navigation__icons {
    display: inline-flex;
    justify-content: space-between; }
  .footer-navigation__contact p {
    margin-bottom: 10px; }

.down-link {
  display: inline-block;
  padding: 0 20px; }
