.footer {
  background-color: $footer-background-color;
  &__block {
    padding: 20px;
    margin: 0 auto;
    @include conateiner-size($page-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  &__logo {
    max-width: 140px;
    width: 100%;
  }
}

.footer-navigation {
  @include text-format(16px);
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;

  &__question {
    display: flex;
    flex-direction: column;
  }
  &__link {
    margin-bottom: 20px;
  }
  &__commication {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
