.footer {
  background-color: $footer-background-color;
  &__block {
    margin: 0 auto;
    @include conateiner-size($page-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 140px;
    width: 100%;
  }
}

.footer-navigation {
  @include text-format(16px);
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  color: white;
  &__question {
    display: flex;
    flex-direction: column;
  }
  &__link {
    text-decoration: none;
    color: white;
    margin: 10px 0;
  }
}
